.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.page-content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
}

.page-content h1 {
  font-size: 2rem;
  color: #333;
}

.leftmenubar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #E8EBF9;
  width: 80px;
  height: 100vh;
  padding: 20px 0;
}

.logo-div {
  margin-bottom: 20px;
}

.logo {
  max-width: 50px;
  height: auto;
  margin: 0 auto;
}

nav {
  flex-grow: 1;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
  margin: 20px 0;
}

.menu-items a {
  text-decoration: none;
}

.icon {
  width: 40px;
  height: 40px;
  fill: #333;
  transition: fill 0.3s ease;
}

.icon:hover {
  fill: #007BFF;
}

.profile-section {
  margin-bottom: 20px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-section svg {
  width: 40px;
  height: 40px;
  fill: #333;
}

.profile-section svg:hover {
  fill: #007BFF;
}

.profile-section li {
  margin-bottom: 15px;
}